@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: aqua;
  font-family: "Poppins", sans-serif;
}
.first {
  background-color: rgb(4, 255, 87);
  height: 400px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px 2px #01c4ff;
  border-radius: 50px;
}

.main {


  
  display: flex;

  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  
}
.left {
  margin-right: 50px;
  border-left: 4px solid rgba(4, 0, 255, 0.411);
  padding-left: 10px;
  color: #000000;
  width: 150px;
}
h1 {
  font-size: 30px;
  font-weight: 800;
  
}
h2 {
    font-size: 25px;
    font-weight: 500;
    margin: 0px 20px;
    text-align: center;
  }

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 40px;
}
input[type="text"] {
  padding: 10px 15px;
  margin: 5px 0;
  box-sizing: border-box;
  background-color: #00000000;
  border: none;
  border-bottom: 2px solid black;
  color: rgb(49, 49, 49) !important;
}

input[type="text"]:focus {
    border: none;
 outline: none;

  background-color: aqua;
}
::placeholder{
font-size: 20px;
color: rgb(65, 65, 65);
font-weight: 500;
}
button{
    font-size: 18px;
    padding: 10px 30px;
    margin-top: 10px;
    color: #000000;
    background-color: aqua;
    border: 2px solid aqua;
    border-radius: 20px;

}
button:hover{
    background-color: rgba(27, 27, 27, 0);
    border: 2px solid aqua;
    cursor: pointer;
}